%menu-activity {
  transition: all 0.3s ease-in-out;
  position: relative;
}
.dots {
  @include flex(space-around, center, row);
  height: 90vh;
  width: 400px;
  margin: auto;
  &__first,
  &__second,
  &__third {
    width: 50px;
    height: 50px;
    background: blue;
    border-radius: 50%;
  }
  &__first {
    animation-name: loadingDots;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
  }
  &__second {
    animation-name: loadingDots;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-delay: 0.04s;
  }
  &__third {
    animation-name: loadingDots;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-delay: 0.08s;
  }
}
.menu-container {
  @include dimensions(45px, 27px, 0px);
  @include flex(space-around, center, column);
  border: none;
  background: none;
  margin-right: 10px;
  .menu-slice {
    @include dimensions(33px, 4px, 0px);
    background: $charcoal;
    &.top-opened,
    &.bottom-opened,
    &.top-closed,
    &.bottom-closed {
      @extend %menu-activity;
    }
    &.top-opened {
      transform: translateY(8px);
    }
    &.bottom-opened {
      transform: translateY(-8px);
    }
    &.top-closed,
    &.bottom-closed {
      transform: translateY(0px);
    }
  }
  @media (min-width: 500px) {
    visibility: hidden;
  }
}
@keyframes loadingDots {
  0% {
    margin-bottom: 0;
  }
  50% {
    margin-bottom: 50px;
  }
  100% {
    margin-bottom: 0;
  }
}
