.menu-container {
  @include dimensions(45px, 27px, 0px);
  @include flex(space-around, center, column);
  border: none;
  background: none;
  .menu-slice {
    @include dimensions(33px, 4px, 0px);
    background: $charcoal;
    &.top-opened {
      transform: translateY(8px);
      transition: all 0.2s ease-in-out;
      position: relative;
    }
    &.bottom-opened {
      transform: translateY(-8px);
      transition: all 0.2s ease-in-out;
      position: relative;
    }
    &.top-closed {
      transform: translateY(0px);
      transition: all 0.2s ease-in-out;
      position: relative;
    }
    &.bottom-closed {
      transform: translateY(0px);
      transition: all 0.2s ease-in-out;
      position: relative;
    }
  }
  @media (min-width: 500px) {
    visibility: hidden;
  }
}
