%btnDefault {
  box-shadow: $inactive-box-shadow;
  background: $button-disabled;
  cursor: pointer;
  width: 120px;
  height: 50px;
  border-radius: 3px;
  margin: 5px;
  font-size: 20px;
  font-weight: 300;
  &:hover {
    opacity: 0.85;
    transform: translateY(-0.2px);
    box-shadow: $active-box-shadow;
  }
}
// p,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   line-height: 22px;
// }
p {
  font-size: 14px;
}
button,
input {
  cursor: pointer;
}

span {
  &[require='true'] {
    color: red;
  }
  &[require='false'] {
    display: none;
  }
}

.sexy-input {
  @include dimensions(100%, 45px, 6px);
  font-size: 20px;
  margin: 10px 0;
  padding-left: 1rem;
}
.flex-column {
  @include flex(space-around, center, column);
}
#routes {
  margin-top: 60px;
  background: $white-blue;
  // background-image: url("https://kimscrane.com/shop/5764-large_default/mulberry-paper-white-with-silver-specks.jpg");
}
.bottom-border {
  width: 100%;
  padding-bottom: 2px;
  border-bottom: 1px solid $charcoal;
}

//FOR each section, messages, courses, donate etc.
.section-titles {
  margin: 0 auto;
  padding: 2rem 0 1rem 0;
  border-bottom: .8px solid $stripe-green;
  font-size: 1.8rem;
  width: max-content;
}

// removes the number increment buttons from the input for a cleaner look
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
