%btnDefault {
  box-shadow: $inactive-box-shadow;
  background: $button-disabled;
  width: 142px;
  height: 57px;
  border-radius: 100px;
  margin: 5px;
  font-size: 20px;
  font-weight: 300;
  &:hover {
    opacity: 0.85;
    transform: translateY(-0.2px);
    box-shadow: $active-box-shadow;
  }
}
button,
input {
  cursor: pointer;
}

span {
  &[require="true"] {
    color: red;
  }
  &[require="false"] {
    display: none;
  }
}

.sexy-input {
  @include dimensions(100%, 45px, 6px);
  font-size: 20px;
  margin: 10px 0;
}

#routes {
  margin-top: 75px;
  background: $white-blue;
  // background-image: url("https://kimscrane.com/shop/5764-large_default/mulberry-paper-white-with-silver-specks.jpg");
  // background-size: 15%;
  // background-repeat: repeat;
}
