.breadcrumb-nav {
  //   width: 320px;
  height: 50px;
  @include flex(space-around, center, row);
  width: 320px;
  position: absolute;
  top: 82px;
  left: 0;
}
.previous-crumb-tab {
  font-weight: 700;
  color: blue;
}
@media (max-width: 900px) {
  .breadcrumb-nav {
    display: none;
  }
}
