.cart-info {
  @include dimensions(100vw, auto, 0px);
  max-width: 700px;
  @include flex(space-around, center, column);
  @include borderfy(salmon);
  margin: 50px auto;
  .product-container {
    @include borderfy(green);
    @include dimensions(95%, 200px, 0px);
    @include flex(center, stretch, row);
    margin: 20px 0;
    .split-info {
      @include dimensions(50%, 100%, 0px);
      @include borderfy(black);
      &.right {
        @include flex(space-around, center, column);
      }
      &.left {
        @include flex(center, flex-start, row);
      }
    }
  }
}
.quantity {
  @include flex(space-around, center, row);
  @include dimensions(100px, 50px, 0px);
  .quantity-input {
    width: 26px;
    background: transparent;
    border: none;
  }
}

.empty-cart,
.component404 {
  @include dimensions(100vw, calc(100vh - 450px - 64px), 0px);
  min-height: 500px;
  @include flex(center, center, column);
  text-align: center;
  .center-container {
    @include flex(space-around, center, column);
    @include dimensions(90%, 80%, 0px);
    h2 {
      border: none;
    }
    .btn-condition {
      width: 150px;
      color: black;
      font-size: 0.9rem;
    }
  }
}
.component404 {
  h2 {
    padding: 0;
  }
  button {
    width: 240px;
  }
}
