.donation-alert-holder {
  max-width: 500px;
  max-width: 500px;
  width: 90%;
  min-width: 300px;
  padding: 0 50px;
  background: rgba(204, 0, 0, 0.5);
  height: 200px;
  @include flex(center, center, row);
  margin: auto;
  line-height: 20px;
  border-radius: 15px;
  letter-spacing: 1px;
  text-align: center;
}
.cart-info {
  @include dimensions(95vw, auto, 0px);
  max-width: 1100px;
  @include flex(space-around, center, column);
  // @include borderfy(salmon);
  margin: 50px auto;
  .cart-list {
    visibility: hidden;
    margin: 20px 0;
    @include dimensions(95%, auto, 0px);
    @include flex(space-between, center, row);
    max-width: 700px;
    aside {
      @include dimensions(60%, 100%, 0px);
      @include flex(space-around, center, row);
      width: 38%;
      margin-right: 16%;
    }
  }

  .product-container {
    @include dimensions(95%, 200px, 0px);
    @include flex(center, stretch, row);
    margin: 20px 0;
    position: relative;
    &.animate-removal {
      visibility: hidden;
      animation: dismissalLeft 1s;
    }
    .split-info {
      &.right {
        @include dimensions(calc(100% - 150px), 100%, 0px);

        @include flex(space-around, flex-start, column);
      }
      &.left {
        @include dimensions(150px, 100%, 0px);

        @include flex(center, flex-start, row);
      }
    }
  }
}
@media (min-width: 700px) {
  .cart-border {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    margin: 20px 0;
    min-width: 700px;
  }
  .cart-info {
    .cart-list {
      visibility: visible;
    }
    .product-container {
      height: 120px;
      position: relative;
      &.animate-removal {
        visibility: hidden;
        animation: dismissalLeft 1s;
      }
      .split-info {
        &.right {
          @include flex(space-around, center, row);
        }
        &.left {
        }
      }
    }
  }
  .product-name {
    width: 25%;
  }
}
.quantity {
  @include flex(space-around, center, row);
  @include dimensions(100px, 50px, 0px);
  .quantity-input {
    width: 26px;
    background: transparent;
    border: none;
  }
}

.empty-cart,
.component404 {
  @include dimensions(100vw, calc(100vh - 450px - 64px), 0px);
  min-height: 500px;
  @include flex(center, center, column);
  text-align: center;
  .center-container {
    @include flex(space-around, center, column);
    @include dimensions(90%, 80%, 0px);
    h2 {
      border: none;
    }
    .btn-condition {
      width: 150px;
      color: black;
      font-size: 0.9rem;
    }
  }
}
@keyframes dismissalLeft {
  from {
    left: 0vw;
    visibility: visible;
  }
  to {
    left: -100vw;
    display: none;
  }
}
.component404 {
  h2 {
    padding: 0;
  }
  button {
    width: 240px;
  }
}
