.bottom-border {
  border-bottom: 1px #333 solid;
  // font-family: Roboto, sans-serif;
  &.title {
    @include dimensions(90vw, 35px, 0px);
    max-width: 500px;
    text-align: center;
    margin: 20px auto;
    font-size: 25px;
  }
}
.donation-amount {
  @include flex(space-around, center, row);
  @include dimensions(95vw, 200px, 0px);
  margin: 10px auto;
  max-width: 500px;
}
.donation-input {
  padding-left: 1rem;
  border-radius: 3px;
}
.section-titles {
  margin: 0 auto;
  padding: 2rem;
  border-bottom: 0.8px solid $stripe-green;
  font-size: 1.8rem;
}
%submitStyle {
  @include dimensions(55%, 38px, 3px);
  background: $stripe-green;
  max-width: 600px;
  margin: 1rem auto;
}

.btn {
  &-primary,
  &-submit,
  &-selected {
    @extend %btnDefault;
    border: none;
    &:active {
      background: $stripe-green;
      opacity: 0.5;
    }
  }
  &-submit {
    @extend %submitStyle;
  }
  &-selected {
    background: $stripe-green;
  }
  &-donate {
    @include dimensions(68px, 38px, 3px);
    font-size: 15px;
    font-weight: 400;
    border: 2px solid $google-red;
    background: white;
    color: $google-red;
    &:hover {
      background: $google-red;
      color: white;
    }
  }
  &-operations {
    @include dimensions(25px, 25px, 100px);
    @include flex(center, center, column);
    border: none;
    background: $stripe-green;
    font-weight: 900;
    color: whitesmoke;
    font-size: 20px;
  }
  &-condition {
    @include dimensions(50px, 20px, 2px);
    border: none;
    font-size: 0.6rem;
    color: whitesmoke;
    &.warning {
      background: $google-red;
    }
    &.lead {
      background: $stripe-green;
      width: 55%;
      max-width: 400px;
      margin-top: 25px;
    }
  }
}
.frequency-amount {
  @include dimensions(95vw, 120px, 0px);
  @include flex(space-around, center, row);
  max-width: 500px;
  margin: 0 auto;
  & > div {
    max-width: 300px;
  }
  .required-input {
    position: relative;
    top: -15px;
    left: -10px;
    font-size: 19px;
  }
}
.ctrl-inputs {
  @include dimensions(90vw, 40px, 0px);
  @include flex(space-around, center, row);
  &.dollar-amount {
    input {
      @include dimensions(80%, 50px, 0px);
      @include borderfy($stripe-green);
      border-radius: 5px;
      font-size: 20px;
      font-weight: 300;
    }
  }
}
.credentials-container {
  cursor: text;
  .credentials-input {
    @include dimensions(90vw, auto, 3px);
    @include marginCenter;
    max-width: 850px;
  }
}
.donation-page {
  @include flex(center, space-around, column);
  min-height: 900px;
}
// information card on donate page is right here, inheriting the box shadow from the boilerplate
.card-container,
.picture-container {
  @extend %box-shadow;
}
.card-container {
  @include dimensions(95vw, auto, 7px);
  @include flex(center, center, row);
  max-width: 500px;
  line-height: 20px;
  padding: 3rem;
  margin: 0 1rem;
  .hands-icon {
    font-size: 4rem;
    margin: 2rem;
    color: $stripe-green;
  }
}

.card-info {
  @include borderfy(black);
  @include dimensions(90vw, 45px, 6px);
  max-width: 850px;
  @include marginCenter;
  padding: 12px;
  margin-bottom: 1rem;
}

.pic-and-card {
  margin: 30px 0px;
  @include flex(space-around, center, row);
  // min-height: 250px;

  @media (max-width: 918px) {
    // min-height: 250px;
  }
}
.donate-link {
  @extend %pseudoNavs;

  font-size: 45px;
  color: $stripe-green;
  position: fixed;
  bottom: 25px;
  right: 25px;
}
