.bottom-border {
  border-bottom: 1px grey solid;
  // font-family: Roboto, sans-serif;
  &.title {
    @include dimensions(90vw, 35px, 0px);
    max-width: 500px;
    text-align: center;
    margin: 20px auto;
  }
}
.donation-amount {
  @include flex(space-around, center, row);
  @include dimensions(95vw, 200px, 0px);
  margin: 10px auto;
  max-width: 500px;
}

.btn {
  &-primary {
    @extend %btnDefault;
  }
  &-submit {
    @extend %btnDefault;
    @include dimensions(90vw, 38px, 8px);
    background: $google-green;
    max-width: 600px;
    margin: 0 auto;
  }
  &-selected {
    @extend %btnDefault;
    background: $stripe-blue;
  }
  &-donate {
    @include dimensions(68px, 38px, 5px);
    font-size: 15px;
    font-weight: 400;
    border: 2px solid $google-red;
    background: white;
    color: $google-red;
    &:hover {
      background: $google-red;
      color: white;
    }
  }
}
.frequency-amount {
  @include dimensions(95vw, 120px, 0px);
  @include flex(space-around, center, row);
  max-width: 500px;
  margin: 0 auto;
  & > div {
    max-width: 300px;
  }
}
.ctrl-inputs {
  @include dimensions(90vw, 40px, 0px);
  @include flex(space-around, center, row);
  &.dollar-amount {
    input {
      @include dimensions(80%, 50px, 0px);
      @include borderfy($stripe-blue);
      font-size: 20px;
      font-weight: 300;
    }
  }
}
.credentials-container {
  .credentials-input {
    @include dimensions(90vw, auto, 10px);
    @include marginCenter;
    max-width: 850px;
  }
}
.donation-page {
  @include flex(center, space-around, column);
}
.card-container {
  @extend %box-shadow;
  @include dimensions(95vw, 250px, 7px);
  @include flex(center, center, row);
  @include marginCenter;
  margin-top: 20px;
  max-width: 500px;
  line-height: 20px;
  padding: 0 10%;
  @media (min-width: 400px) {
    height: 200px;
  }
}
.card-info {
  @include borderfy(black);
  @include dimensions(90vw, 45px, 6px);
  max-width: 850px;
  @include marginCenter;
}
