.footer-container {
  @include flex(space-around, center, column);
  height: 450px;
  width: 100%;
  background: $grease;
  color: whitesmoke;
  font-size: 20px;
  line-height: 22px;
  .information,
  .social-media,
  h6 {
    width: calc(100% - 50px);
  }
  .footer-title {
    font-size: 1.5rem;
    width: 553px;
  }
  h4 {
    margin-bottom: 8px;
    width: max-content;
    padding-bottom: 5px;
    border-bottom: 0.8px solid $stripe-green;
  }
  .information {
    @include flex(space-around, flex-start, column);
    @include dimensions(calc(100% - 50px), 400px, 0);
    max-width: 600px;
  }
  .social-media {
    @include flex(space-around, center, row);
  }
  h6 {
    text-align: center;
    font-size: 10px;
  }
}
.email-me {
  :hover {
    color: $stripe-green;
  }
  font-size: 12px;
}
