.home-page {
  // @include flex(space-around, center, column);
  min-height: 28vh;
  margin: 0 auto;
  color: white;
  background-image: url('./assets/pastor-banner.png');
  background-size: cover;
  background-position: 21% 10%;
  // background-attachment: fixed;
  background-attachment: scroll;
}

@media (min-width: 743px) {
  .home-page {
    min-height: 56vh;
    height: 100vh;

    .splash-text {
      display: block;
      position: absolute;
      right: 6rem;
      top: 12rem;
      padding: 1em;
      width: 800px;
      height: 500px;
      // border: 5px solid grey;
      margin: 0 auto;
      font-size: 4rem;
      // color: $lt-stripe-green;

      h1 {
        max-width: 616px;
        margin-bottom: 2rem;
        padding-bottom: 2px;
        border-bottom: 0.8px solid $stripe-green;
      }
      .sub-heading {
        font-family: 'Merriweather Sans';
        font-size: 2rem;
        line-height: 3rem;
      }
    }
  }
}

.about-section {
  padding: 3rem;
}

.content-container {
  @include flex(space-around, center, column);
  padding: 15px 10px 10px 10px;
  max-width: 800px;
  min-height: 450px;
  margin: 0 auto;
  img {
    margin-bottom: 15px;
  }
  p {
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 24px;
    padding: 8px;
  }
}

@media (min-width: 1000px) {
  .content-container {
    @include flex(space-around, flex-start, row);
  }
}
@media (min-width: 600px) {
  .home-page {
    min-height: 60vh;
  }
  .content-container {
    @include flex(space-around, flex-start, row);
  }
  .description {
    width: 400px;
  }
}
