@mixin borderfy($color) {
  border: 1px solid $color;
}
@mixin dimensions($width, $height, $borderRadius) {
  width: $width;
  height: $height;
  border-radius: $borderRadius;
}
@mixin flex($justifyContent, $alignItems, $flex-direction) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $flex-direction;
  flex-wrap: wrap;
}
@mixin marginCenter {
  margin: 0 auto;
}

@mixin pseudo($color) {
  &:hover {
    color: $color;
  }
  &:active {
    opacity: 0.8;
  }
}
%pseudoNavs {
  &:active {
    transform: scale(0.95);
  }
  &:hover {
    opacity: 0.7;
  }
}
