@import "https://fonts.googleapis.com/css?family=Lato";
.ind-audio {
}
.pdf-design {
  width: 100vw;
  height: 400px;
}
.cont {
  font-family: "Lato";
  text-align: center;
  h3 {
    font-size: 30px;
    margin: 0 0 10px 0;
    color: #ccc;
  }
  time {
    font-size: 12px;
    color: #999;
  }
}
.message-titles {
  min-height: 90vh;
  @include flex(space-around, center, column);
}
.ea-message-title {
  @include flex(center, center, row);
  width: 100vw;
  height: 100px;
  background: #888;
  margin: 10px 0 0 0;
  &:hover {
    box-shadow: black 2px 2px 2px;
  }
  h1 {
    color: white;
    text-decoration: none;
  }
}
.each-individual-message-holder {
  min-height: 90vh;
  @include flex(space-around, center, column);
  .each-individual-message-title {
    color: black;
    height: 80px;
  }
}
