@import "https://fonts.googleapis.com/css?family=Lato";
.ind-audio {
}
.pdf-design {
  width: 100vw;
  height: 400px;
}
.cont {
  font-family: "Lato";
  text-align: center;
  h3 {
    font-size: 30px;
    margin: 0 0 10px 0;
    color: #ccc;
  }
  time {
    font-size: 12px;
    color: #999;
  }
}
