.logo-font {
  font-family: adobe-garamond-pro, serif;
  font-style: italic;
  font-weight: 600;
  font-size: 35px;
  color: black;
  text-shadow: 0.5px 0.5px white;
  // font-variant: small-caps;
}
nav {
  z-index: 100;
  &.top {
    // margin: 0 auto;
    @include dimensions(100vw, 60px, 0px);
    @include flex(space-between, center, row);
    flex-wrap: nowrap;
    padding: 2rem;
    width: 100%;
    position: fixed;
    top: 0;
    color: white;
    background: $stripe-green;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    opacity: 0.95;
    .mapped-links {
      // width: 30%
      @include flex(center, center, row);
      .link-tag {
        margin: 0 6rem;
        // width: auto;
        // text-align: center;
        // padding: 5px 10px;
      }
      .link-tag:hover {
        color: $lt-stripe-green;
      }
      @media screen and (max-width: 500px) {
        display: none;
      }
    }
    .join-divs {
      @include dimensions(130px, 50px, 0px);
      @include flex(space-between, center, row);
    }
  }

  &.side-navbar {
    width: 100vw;
    background: $charcoal;
    opacity: 0.99;
    height: calc(100vh - 60px);
    position: fixed;
    @include flex(space-around, center, column);
    color: white;
    font-size: 20px;
    z-index: 100;
    &.opened {
      animation: handleOpen 0.3s;
    }
    &.closed {
      visibility: hidden;
      animation: handleClose 0.3s;
    }
    &.hidden {
      right: 100vw;
    }
  }
}

.cart-notification {
  @include dimensions(12px, 12px, 100px);
  @include flex(space-around, center, row);
  flex-wrap: nowrap;
  background: $notification;
  position: fixed;
  top: 12px;
  right: 23px;
  text-align: center;
  padding: 9px;
  font-size: 14px;
}
.cart {
  font-size: 25px;
  margin-left: 0.8rem;
  color: $grease;
  @extend %pseudoNavs;
}

.nav-item {
  @include flex(center, center, column);
  @include dimensions(100vw, calc(25vh - 16px), 0px);
  &-spread {
    color: black;
    @extend %pseudoNavs;
  }
  @include pseudo($stripe-green);
}

footer {
  @include dimensions(100vw, 30px, 0px);
  @include flex(center, center, row);
  font-size: 11px;
  letter-spacing: 1px;
  // position: fixed;
  // bottom: 0px;
}
@keyframes handleClose {
  from {
    visibility: visible;
    left: 0px;
  }
  to {
    left: -100vw;
    display: none;
  }
}
@keyframes handleOpen {
  from {
    left: -100vw;
  }
  to {
    left: 0px;
  }
}
