nav {
  z-index: 100;
  &.top {
    border-bottom: 1px solid grey;
    margin: 0 auto;
    @include dimensions(100vw, 75px, 0px);
    @include flex(space-around, center, row);
    position: fixed;
    top: 0;
    background: $stripe-blue;
    .mapped-links {
      @media (max-width: 500px) {
        visibility: hidden;
      }
    }
    .join-divs {
      @include dimensions(130px, 50px, 0px);
      @include flex(space-between, center, row);
    }
  }
  &.side-navbar {
    width: 100vw;

    background: $charcoal;
    opacity: 0.99;
    height: calc(100vh - 75px);
    position: fixed;
    @include flex(space-around, center, column);
    color: white;
    font-size: 20px;
    z-index: 100;
    &.opened {
      animation: handleOpen 0.3s;
    }
    &.closed {
      visibility: hidden;
      animation: handleClose 0.3s;
    }
  }
}
@keyframes handleClose {
  from {
    visibility: visible;
    left: 0px;
  }
  to {
    left: -100vw;
    display: none;
  }
}
@keyframes handleOpen {
  from {
    left: -100vw;
  }
  to {
    left: 0px;
  }
}
footer {
  @include dimensions(100vw, 80px, 0px);
  @include flex(center, space-around, column);
  flex-wrap: wrap;
  display: absolute;
  bottom: 0;
  background: $dark-roast;
}
