//*********GreyScale Pallette**********
//COLOR PALLETTE CHOICES CAME FROM https://stripe.com/docs
$subtle-grey: rgb(245, 247, 249);
$stripe-blue: #0099e5;
$google-blue: #298fca;
$google-green: #61bd4f;
$white-blue: rgb(245, 247, 249);
$button-disabled: #dddddd;
$btn-submit: #d34836;
$charcoal: #333333;

//*********Palette 1*********
// $primary-color: #4d9bcb;
// $secondary-color: #b9dde9;
// $tertiary-color: #e6e4e5;
// $quaternary-color: #bfbdbe;
// $quinary-color: #807f84;
//**********Grey-scale***********
// $grey-blue: ;
//*********Palette 2*********
// $primary-color: #113566;
// $secondary-color: #4985a6;
// $tertiary-color: #99bacf;
// $quaternary-color: #dee9ee;
// $quinary-color: #FAFBFD;

//*********Palette 3*********
// $primary-color: #234a56;
// $secondary-color: #417d95;
// $tertiary-color: #89b9c5;
// $quaternary-color: #c1dee2;
// $quinary-color: #dde7dc;
