//*********GreyScale Pallette**********
//COLOR PALLETTE CHOICES CAME FROM https://stripe.com/docs
$subtle-grey: rgb(245, 247, 249);
$stripe-blue: #0099e5;
$white-blue: rgb(245, 247, 249);
$button-disabled: #dddddd;
$google-green: #61bd4f;
$stripe-green: #3ecf8e;
$stripe-purple: #6772e5;
$google-blue: #298fca;
$google-yellow: #fbbc05;
$google-red: #d34836;
$charcoal: #333333;
$dark-roast: #4c4c4c;
$grease: #262626;
$inactive-box-shadow: rgba(0, 0, 0, 0.1px) 0px 0px 40px 0px;
$active-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07),
  0 7px 17px 0 rgba(0, 0, 0, 0.1);

//*********Palette 1*********
// $primary-color: #4d9bcb;
// $secondary-color: #b9dde9;
// $tertiary-color: #e6e4e5;
// $quaternary-color: #bfbdbe;
// $quinary-color: #807f84;
//**********Grey-scale***********
// $grey-blue: ;
//*********Palette 2*********
// $primary-color: #113566;
// $secondary-color: #4985a6;
// $tertiary-color: #99bacf;
// $quaternary-color: #dee9ee;
// $quinary-color: #FAFBFD;

//*********Palette 3*********
// $primary-color: #234a56;
// $secondary-color: #417d95;
// $tertiary-color: #89b9c5;
// $quaternary-color: #c1dee2;
// $quinary-color: #dde7dc;
